/* Global Styles */
body {
    margin: 0;
    font-family: 'EB Garamond', serif;
  }
  
  /* Navigation Bar Styles */
  nav {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo{
    display: flex;
    justify-content: space-between;
  }
  .logo img {
    width: 50px;
    margin-left: 50px;
    margin-top: 20px;
  }
  .logo h2{
    font-size: 1.5em;
    margin-top: 30px;
    margin-left: 20px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .nav-links li {
    padding: 1rem;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 1.5em;
  }

  .nav-links a:hover{
    color: #f2ca52;
  }
  
  /* Section Container */
  .home-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Left Content */
  .home-content {
    flex: 1;
    padding-right: 40px;
    padding-left: 40px;
    margin-left: 50px;
    margin-bottom: 40px;
  }
  
  .home-content h1 {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .home-content p {
    font-size: 20px;
    line-height: 1.6;
  }
  
  /* Right Content */
  .bee {
    flex: 1;
    height: 600px;
    background-image: url("homebee.jpg");
    background-size: cover;
    background-position: center;
    margin-right: 40px;
  }
  
  /* Hero Section Styles */
  #hero {
    background-color: #f2ca52;
    padding: 8rem;
    text-align: center;
  }
  
  .hero-content h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #ffffff;
  }
  
  .hero-content p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    font-weight: bold;
    color: #ffffff;
  }
  
  .highlight {
    color: #000000;
  }
  
  /* Listening Section Styles */
  #listening {
    background-color: #ffffff;
    padding: 2rem;
    text-align: center;
  }
  
  .listening-content h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #000000;
  }
  
  /* Read_stories */
  .Read_stories {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    background-color: #f7f7f7;
  }
  
  /* Left Content */
  .read_div {
    height: 400px;
    padding-right: 40px;
  }
  
  .read_div h1 {
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .read_div p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    font-weight: bold;
  }
  
  /* image */
  .Oldbook {
    height: 100px;
    background-image: url("https://jelly-bag-fae.notion.site/b4ae3c0af0004d22ba16331c8d9e1402");
    background-size: cover;
    background-position: bottom;
    border-radius: 10px;
  }
  
  /* All Covered Section Styles */
  #all-covered {
    padding: 4rem;
    text-align: center;
  }
  
  .all-covered-content h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #000000;
  }
  
  .all-covered-content p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  
  .read-now-button {
    background-color: #f2ca52;
    color: #ffffff;
    padding: 1rem 2rem;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
  }
  
  /* Numbers Section Styles */
  #numbers {
    background-color: #f7f7f7;
    padding: 4rem;
    text-align: center;
  }
  
  .numbers-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  
  #numbers h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #000000;
    padding-bottom: 30px;
  }
  
  .number-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .number {
    font-size: 3rem;
    font-weight: bold;
    color: #000000;
  }
  
  .number-label {
    font-size: 1.2rem;
    color: #000000;
  }
  
  /* Call-to-Action Section Styles */
  #cta {
    background-color: #f2ca52;
    padding: 3rem;
    text-align: center;
  }
  
  .cta-content h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #ffffff;
  }
  
  .cta-content p {
    color: #ffffff;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    font-weight: bold;
  }
  
  .start-writing-button {
    background-color: #ffffff;
    color: #000000;
    padding: 1rem 2rem;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
  }
  
  /* Footer Section Styles */
  footer {
    background-color: #000000;
    padding: 1rem;
    text-align: center;
  }
  
  footer p {
    color: #ffffff;
    font-size: 1rem;
  }